body{
    display:flex;
    width:100vw;
    height:100vh;
    margin:0;
}

.imgcontainer {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    width:40%;
}

.shadedpart {
    background:rgba(0,0,0,0.5);
    position: relative;
    top: 170px;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

img[src="odin-lined.png"]{
    height:150px;
}

.odin-heading {
    font-size: 100px;
    font-weight: 700;
    font-family: 'Konkhmer Sleokchher', cursive;
    color: white;
}


.credit {
    color:white;
    position:absolute;
    bottom: 5px;
    left: 5px;
}
.notimage {
    display:flex;
    flex-direction:column;
    width:60%;
}

.firstpart {
    background-color: rgb(225, 229, 231);
    height: 15%;
}

.firstpart{
    padding-top: 150px;
    padding-right: 300px;
    padding-left: 60px;
    padding-bottom: 60px;
}

.text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight:800;
}

.secondpart {
    background-color: rgb(243, 246, 248);
    height:40%;
    padding-right: 300px;
    padding-left: 60px;
    padding-top: 20px;
}

.letsdothis {
    font-size:28px;
    margin-bottom: 30px;
}

.row {
    display: flex;
    gap: 100px;
    margin-bottom:20px;
}

.input {
    display:flex;
    flex-direction:column;
    gap: 10px;
}

label {
    font-size: 15px;
    font-weight:600;
}

input {
    height: 25px;
    width: 350px;
}

input:focus {
    border-color:blue;
}

.thirdpart {
    background-color: rgb(255, 255, 255);
    height:25%;
    padding-right: 300px;
    padding-left: 60px;
    padding-top: 30px;

}

button {
    height:50px;
    width: 200px;
    background-color: #596D48;
    border-radius: 5px;
    color:white;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
    border: none;
}

button:hover {
    background-color: #3d4b31;
}

.alreadytext {
    font-size: 18px;
    font-weight: 550;
}

a {
    text-decoration: none;
    color: #596D48;

}

input:focus {
    outline: none;
    border: 2px solid rgb(71, 26, 231);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}